<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ photos.length }} photos ici</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      @for (photo of photos; track photo.id) {
        <ion-col size="4">
          <div class="thumb" (click)="open(photo)">
            <img [src]="photo.webviewPath" alt="Photo" />
          </div>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
