<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="gallery" href="/tabs/gallery">
      <ion-icon class="icon-outline" name="grid-outline" aria-hidden="true"></ion-icon>
      <ion-icon class="icon-filled" name="grid" aria-hidden="true"></ion-icon>
      <ion-label>Galerie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon class="icon-outline" name="location-outline" aria-hidden="true"></ion-icon>
      <ion-icon class="icon-filled" name="location" aria-hidden="true"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop" href="/tabs/shop">
      <ion-icon class="icon-outline" name="bag-outline" aria-hidden="true"></ion-icon>
      <ion-icon class="icon-filled" name="bag" aria-hidden="true"></ion-icon>
      <ion-label>Boutique</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
